<div class="container">

  <h2> Edit a Food Item </h2>

  <form action="/foods/<%= @food.id %>" method="POST">

   <fieldset>
     <legend>Food Information</legend>

     <label for="name">Name</label>
     <input id="name" type="text" name="foods[name]" value="<%= @food.name %>"> 

     <label for="category">Category</label>
     <select id="category" name="foods[category]"> 
         <option value="<%= @food.category %>" <%= "selected='selected'" if @food.category == "Appetizer"%>>Appetizer</option>
         <option value="<%= @food.category %>" <%= "selected='selected'" if @food.category == "Entree"%>>Entree</option>
         <option value="<%= @food.category %>" <%= "selected='selected'" if @food.category == "Dessert"%>>Dessert</option>
         <option value="<%= @food.category %>" <%= "selected='selected'" if @food.category == "Beverage"%>>Beverage</option>
     </select> <br>

     <label for="price">Price</label>
     <input id="price" type="number" step="0.50" name="foods[price]" value="<%= @food.price %>"> 

     <label for="description">Description</label>
     <textarea id="description" type="text" name="foods[description]" ><%= @food.description %></textarea>
   </fieldset>

   <br>

   <fieldset>
    <legend>Dietary Restrictions</legend>

     <input name="foods[vegetarian]" type="hidden" value="false" />
     <input id="veggie" name="foods[vegetarian]" type="checkbox" <%= "checked" if @food.vegetarian %> value="true" />
     <label for="veggie">Vegetarian</label> <br>

     <input name="foods[gluten_free]" type="hidden" value="false"/>
     <input id="gluten" type="checkbox" name="foods[gluten_free]" <%= "checked" if @food.gluten_free %> value="true">
     <label for="gluten">Gluten Free</label> <br>

     <input name="foods[dairy_free]" type="hidden" value="false"/>
     <input id="dairy" type="checkbox" name="foods[dairy_free]" <%= "checked" if @food.dairy_free %> value="true">
     <label for="dairy">Dairy Free</label> <br>

     <input name="foods[nut_free]" type="hidden" value="false"/>
     <input id="nut" type="checkbox" name="foods[nut_free]" <%= "checked" if @food.nut_free %> value="true" >
     <label for="nut">Nut Free</label> <br>

      <input type="hidden" name="_method" value="PATCH">
      <input type="submit" value="Submit Changes">
  </form>

  <form action="/foods/<%= @food.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Item">
  </form>

</div>