<div class="container">
	<h2>Nut Free Menu Items</h2>

	<h3>Appetizers</h3>
	<ul>
	<% @foods.where("category='Appetizer'").where("nut_free").each do |food| %>
	    <li>
	        <a href="/foods/<%= food.id %>"><%= food.name %></a>
	    </li>
	    <br>
	    <% end %>
	</ul>

	<h3>Entrees</h3>
	<ul>
	<% @foods.where("category='Entree'").where("nut_free").each do |food| %>
	    <li>
	        <a href="/foods/<%= food.id %>"><%= food.name %></a>
	    </li>
	    <br>
	    <% end %>
	</ul>

	<h3>Desserts</h3>
	<ul>
	<% @foods.where("category='Dessert'").where("nut_free").each do |food| %>
	    <li>
	        <a href="/foods/<%= food.id %>"><%= food.name %></a>
	    </li>
	    <br>
	    <% end %>
	</ul>

	<h3>Drinks</h3>
	<ul>
	<% @foods.where("category='Beverage'").where("nut_free").each do |food| %>
	    <li>
	        <a href="/foods/<%= food.id %>"><%= food.name %></a>
	    </li>
	    <br>
	    <% end %>
	</ul>

	<div class="allergies">
		<a href="/foods">Back to Main Menu</a>
		<a href="/foods/veg">All Vegetarian Items</a>
		<a href="/foods/gluten">All Gluten Free Items</a>
		<a href="/foods/nuts">All Nut Free Items</a>
		<a href="/foods/dairy">All Dairy Free Items</a>
	</div>