	<h2>Current Parties</h2>

<!-- < % unless @parties.where(table_id:0) %> -->

	<% @parties.each do |party| %>
		<a class="parties" href="parties/<%= party.id %>">
		<div>
			<p> Party <%= party.id %> / Table <%= party.table_id %></p>
			<p><%= party.people %> people</p>
			<%= party.paid ? "<p class='green'> Paid </p>" : "<p class='red'> Not paid </p>" %>
			<p>Arrived at <%= party.created_at.strftime "%I:%M %p" %></p>
		</div>
		</a>
	<% end %>
<!-- < % end %> -->



	<a class="order_change" href="/parties/new">Add a party</a>