<h2>Party <%= @party.id %> Order</h2>
<div class="menu cleafix">
	<h3>Appetizers</h3>
	<% @foods.where("category='Appetizer'").each do |food| %>
	<form action="/orders/<%= @party.id %>/edit" method="POST">
			<input type="hidden" value="<%= food.id %>" name="order[food_id]">
			<input type="hidden" value="<%= @party.id %>" name="order[party_id]">
			<input type="submit" value="<%= food.name %>">
	</form>
	<% end %>

	<h3>Entrees</h3>
	<% @foods.where("category='Entree'").each do |food| %>
	<form action="/orders/<%= @party.id %>/edit" method="POST">
			<input type="hidden" value="<%= food.id %>" name="order[food_id]">
			<input type="hidden" value="<%= @party.id %>" name="order[party_id]">
			<input type="submit" value="<%= food.name %>">
	</form>
	<% end %>

	<h3>Dessers</h3>
	<% @foods.where("category='Dessert'").each do |food| %>
	<form action="/orders/<%= @party.id %>/edit" method="POST">
			<input type="hidden" value="<%= food.id %>" name="order[food_id]">
			<input type="hidden" value="<%= @party.id %>" name="order[party_id]">
			<input type="submit" value="<%= food.name %>">
	</form>
	<% end %>


	<h3>Beverages</h3>
	<% @foods.where("category='Beverage'").each do |food| %>
	<form action="/orders/<%= @party.id %>/edit" method="POST">
			<input type="hidden" value="<%= food.id %>" name="order[food_id]">
			<input type="hidden" value="<%= @party.id %>" name="order[party_id]">
			<input type="submit" value="<%= food.name %>">
	</form>
	<% end %>
</div>

<div class="side_menu clearfix">
	<h3>Current Order</h3>
		<% @orders.uniq.each do |order| %> 
		<p>	
			<%= order.name %> -
			<%= @party.foods.where(name: order.name).count %>
		</p>

<form class="comp" action="/orders/<%= @party.id %>/order"  method="POST">
		<input type="hidden" name="order[comped]" value="true" >
		<input type="submit" value="Comp" >
		<input type="hidden" name="_method" value="PATCH">
	</form>

<form  class="comp" action="/orders/<%= @party.id %>/order"  method="POST">
	<input type="hidden" name="order[comped]" value="false" >
	<input type="submit" value="Uncomp" >
	<input type="hidden" name="_method" value="PATCH">
</form>