<div class="receipt">
	<h1>Westing's</h1>


	<div class="receipt_top">
	<h3>Party <%= @party.id %> </h3>
	<p>Table <%= @party.table_id %></p>
	<p>Server: <%= @party.employees.first.name %></p>
	<p><%= @party.created_at.strftime "%A %B %e, %Y" %></p>
	</div>	


	<div class="receipt_middle">
		<h3>Order</h3>
		 <% @party.orders.each do |order| %>
		   <% if order.comped %>
			   <p><%= order.food.name %> - On the house</p>
		   <% else %>
			   <p> <%= order.food.name %> - <%= '%.2f' % order.food.price %></p>
		   <% end %>
		 <% end %>
		</div>


<!-- <p>< %= order.food.name.where("order.food.name=order.food.name").count %></p> -->


	<div class="receipt_bottom">
		<% bill = 0 %>
			<% @party.orders.each do |order| %>
				<% if order.comped == false %>
					<% bill += order.food.price %>
				<% end %>
			<% end %>
		<p>Subtotal: <%= '%.2f' % bill %></p>
		<p>Tax <%= '%.2f' % tax = bill * @tax %></p>
		<h3>Total $<%= total = bill + tax.round(2) %></h3>
 
<br>

		<form action="/orders/<%= @party.id %>/receipt" method="POST">
			<label for="party_tip">Suggested Tip</label><br>
			<input id="party_tip" type="radio" 
			value="<%=  (total * 0.15).round(2) %>" name="parties[tip]" <%= "checked='checked'" if @party.tip == @party.tip %>>15% ($<%= '%.2f' % (total * 0.15) %>)
			<input id="party_tip" type="radio" 
			value="<%=  (total * 0.2).round(2) %>" name="parties[tip]" >20% ($<%= '%.2f' % (total * 0.2) %>)
			<input id="party_tip" type="radio" 
			value="<%=  (total * 0.25).round(2) %>" name="parties[tip]" >25% ($<%= '%.2f' % (total * 0.25) %>)
			<br>
			<input type="hidden" value="PATCH" name="_method">
			<input type="submit">
		</form>

		<% unless @party.tip == nil %>
			<p>Thank you for your generous tip of $<%= '%.2f' % @party.tip %> </p>
		<% end %>


	</div>

</div>

<form action="/parties/checkout/<%= @party.id %>" method="POST">
	<input type="hidden" name="parties[table_id]" value="0">
	<input type="hidden" value="PATCH" name="_method">
	<input type="submit" value="Close Party">
</form>
